@using System.Text.Json
@using System.ComponentModel.DataAnnotations

<RadzenTemplateForm TItem="CourseModel" Data=@Course Submit="@ValidateAndSubmit" InvalidSubmit=@OnInvalidSubmit>
    <div class="form-content">
        <RadzenRow Gap="1rem" class="rz-p-0 rz-p-lg-2">
            <RadzenColumn Size="12">
                <RadzenStack>
                    <RadzenFieldset Text=@_localizer["course_form_course_info_label"]>
                        <RadzenStack Gap="2.5rem" class="rz-p-4 rz-p-lg-6">

                            <!-- Mã khóa học -->
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text=@_localizer["course_form_id_label"] Component="Id" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" @bind-Value="Course.Id" Name="Id" Disabled="@IsUpdateMode" />
                                    <RadzenDataAnnotationValidator Component="Id" Popup=@popup Style="position: relative" />
                                </RadzenColumn>
                            </RadzenRow>

                            <!-- Tên khóa học -->
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text=@_localizer["course_form_name_label"] Component="Name" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%" @bind-Value="Course.Name" Name="Name" />
                                    <RadzenDataAnnotationValidator Component="Name" Popup=@popup Style="position: relative" />
                                </RadzenColumn>
                            </RadzenRow>

                            <!-- Số tín chỉ -->
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text=@_localizer["course_form_credits_label"] Component="Credits" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenNumeric TValue="int"
                                                   Style="width: 100%;"
                                                   @bind-Value="Course.Credits"
                                                   Name="Credits"
                                                   Disabled="@(IsUpdateMode && HasEnrolledStudents)" />
                                    <RadzenDataAnnotationValidator Component="Credits" Popup=@popup Style="position: relative" />
                                    @if (IsUpdateMode && HasEnrolledStudents)
                                    {
                                        <div class="rz-text-small rz-mt-1 rz-text-danger">
                                            @_localizer["course_form_credits_error"]
                                        </div>
                                    }
                                </RadzenColumn>
                            </RadzenRow>

                            <!-- Khoa phụ trách -->
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text=@_localizer["course_form_faculty_label"] Component="FacultyId" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDropDown @bind-Value="Course.FacultyId"
                                                    Data="@Faculties"
                                                    TValue="int?"
                                                    TextProperty="Name"
                                                    ValueProperty="Id"
                                                    Style="width: 100%;"
                                                    Name="FacultyId"/>
                                    <RadzenDataAnnotationValidator Component="FacultyId"
                                                                   Popup=@popup
                                                                   Style="position: relative" />
                                </RadzenColumn>
                            </RadzenRow>

                            <!-- Môn tiên quyết -->
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text=@_localizer["course_form_prerequisites_label"] Component="Prerequisites" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDropDown AllowFiltering="true"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    @bind-Value="SelectedPrerequisiteIds"
                                                    Multiple="true"
                                                    Data="@CoursePrerequisites"
                                                    TextProperty="Name"
                                                    ValueProperty="Id"
                                                    Style="width: 100%"
                                                    Name="Prerequisites"
                                                    Chips=true />
                                </RadzenColumn>
                            </RadzenRow>

                            <!-- Mô tả -->
                            <RadzenRow AlignItems="Radzen.AlignItems.Start">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text=@_localizer["course_form_description_label"] Component="Description" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextArea Style="width: 100%; min-height: 100px;" @bind-Value="Course.Description" Name="Description" />
                                </RadzenColumn>
                            </RadzenRow>

                        </RadzenStack>
                    </RadzenFieldset>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </div>

    <div class="fixed-bottom-buttons">
        <RadzenStack Orientation="Radzen.Orientation.Horizontal"
                     JustifyContent="JustifyContent.Center"
                     Gap="1rem"
                     class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonStyle="ButtonStyle.Light"
                          Size="ButtonSize.Large"
                          Text="Hủy"
                          Click="@Cancel" />
            <RadzenButton ButtonStyle="ButtonStyle.Success"
                          ButtonType="Radzen.ButtonType.Submit"
                          Size="ButtonSize.Large">
                @ButtonText
            </RadzenButton>
        </RadzenStack>
    </div>
</RadzenTemplateForm>