@using System.Text.Json
@using System.ComponentModel.DataAnnotations

<RadzenFieldset Text=@_localizer["identity_form_title_label"]>
    <RadzenStack Gap="2rem">
        <RadzenRow AlignItems="Radzen.AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text=@_localizer["identity_form_type_card_label"] />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDropDown TValue="string" Style="width: 100%;"
                                @bind-Value="Value.Type"
                                Data=@(new List<KeyValuePair<string, string>>
                                {
                                new("cmnd", @_localizer["identity_form_cmnd_dropdown"]),
                                new("cccd", @_localizer["identity_form_cccd_dropdown"]),
                                new("passport", @_localizer["identity_form_passport_dropdown"])
                                })
                                TextProperty="Value" ValueProperty="Key" Name="Type" Change="UpdateAdditionalInfo"/>
                <RadzenDataAnnotationValidator Component="Type" Popup="@popup" Style="position: relative" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="Radzen.AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text=@_localizer["identity_form_card_number_label"] />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenTextBox Style="width: 100%;" @bind-Value="Value.Number" Name="Number" Change="ValidateAndUpdate"/>
                <RadzenDataAnnotationValidator Component="Number" Popup="@popup" Style="position: relative" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="Radzen.AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text=@_localizer["identity_form_date_label"] />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDatePicker Style="width: 100%;" @bind-Value="Value.DateOfIssue"
                                  DateFormat="dd/MM/yyyy" Name="DateOfIssue" Change="ValidateAndUpdate"/>
                <RadzenDataAnnotationValidator Component="DateOfIssue" Popup="@popup" Style="position: relative" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="Radzen.AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text=@_localizer["identity_form_address_label"] />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenTextBox Style="width: 100%;" @bind-Value="Value.PlaceOfIssue" Name="PlaceOfIssue" Change="ValidateAndUpdate"/>
                <RadzenDataAnnotationValidator Component="PlaceOfIssue" Popup="@popup" Style="position: relative" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="Radzen.AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text=@_localizer["identity_form_expired_label"] />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDatePicker Style="width: 100%;" @bind-Value="Value.ExpiryDate"
                                  DateFormat="dd/MM/yyyy" Name="ExpiryDate" Change="ValidateAndUpdate"/>
                <RadzenDataAnnotationValidator Component="ExpiryDate" Popup="@popup" Style="position: relative" />
            </RadzenColumn>
        </RadzenRow>
        @if (Value.Type == "cccd")
        {
            <RadzenColumn Size="12" SizeMD="4" Style="margin-left: 0; padding: 0">
                    <div style="margin-left: 0; padding: 0; display: flex; align-items: center;">
                        <RadzenCheckBox Style="margin-right: 1rem" @bind-Value=@Value.AdditionalInfoForIdentityInfo.HasChipBool Name="HasChip" Change="@((bool _) => UpdateAdditionalInfo())" />
                        <RadzenLabel Text=@_localizer["identity_form_chip_label"] Component="HasChip" />
                    </div>
                </RadzenColumn>
        }
        @if (Value.Type == "passport")
        {
            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="4">
                    <RadzenLabel Text=@_localizer["identity_form_country_label"] />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox style="width: 100%" @bind-Value="Value.AdditionalInfoForIdentityInfo.CountryOfIssue" Name="CountryOfIssue" Change="UpdateAdditionalInfo" />
                    <RadzenDataAnnotationValidator Component="CountryOfIssue" Popup="@popup" Style="position: relative" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="4">
                    <RadzenLabel Text=@_localizer["identity_form_note_label"] />
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox style="width: 100%" @bind-Value="Value.AdditionalInfoForIdentityInfo.Note" Name="Note" Change="UpdateAdditionalInfo" />
                </RadzenColumn>
            </RadzenRow>
        }

    </RadzenStack>
</RadzenFieldset>