@using System.Text.Json
@using System.ComponentModel.DataAnnotations


<RadzenTemplateForm TItem="StudentModel" Data=@Student Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <RadzenRow Gap="1rem" class="rz-p-0 rz-p-lg-2">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack>
                <RadzenFieldset Text="Thông tin chung">
                    <RadzenStack Gap="2.5rem" class="rz-p-4 rz-p-lg-6">
                        @if (IsUpdateMode)
                        {
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="MSSV" Component="Id"/>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" @bind-Value="Student.Id" Disabled="true" Name="Id" />
                                    <div style=" min-height: 1rem;">
                                        <RadzenDataAnnotationValidator Component="Id" Popup=@popup />
                                    </div>
                                </RadzenColumn>
                            </RadzenRow>
                        }

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Họ và tên" Component="FullName" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8" >
                                <RadzenTextBox Style="width: 100%" Name="FullName" @bind-Value="Student.FullName" />
                                <RadzenDataAnnotationValidator Component="FullName" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Ngày sinh" Component="DateOfBirth" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDatePicker Style="width: 100%;" @bind-Value="Student.DateOfBirth"
                                DateFormat="dd/MM/yyyy" Name="DateOfBirth" />
                                <RadzenDataAnnotationValidator Component="DateOfBirth" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Giới tính" Component="Gender"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="string" Style="width: 100%;" @bind-Value="Student.Gender"
                                Data=@(new List<string> { "Nam", "Nữ", "Khác" }) Name="Gender"/>
                                <RadzenDataAnnotationValidator Component="Gender" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Khoa" Component="FacultyId"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="int?" Style="width: 100%;" @bind-Value="Student.FacultyId"
                                Data="@Faculties" TextProperty="Name" ValueProperty="Id" Name="FacultyId" />
                                <RadzenDataAnnotationValidator Component="FacultyId" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Khóa" Component="IntakeYear"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenNumeric TValue="int?" Style="width: 100%;" @bind-Value="Student.IntakeYear"
                                Name="IntakeYear" />
                                <RadzenDataAnnotationValidator Component="IntakeYear" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Chương trình" Component="ProgramId"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="int?" Style="width: 100%;" @bind-Value="Student.ProgramId"
                                Data="@StudyPrograms" TextProperty="Name" ValueProperty="Id" Name="ProgramId"/>
                                <RadzenDataAnnotationValidator Component="ProgramId" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>


                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Email" Component="Email"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenTextBox Style="width: 100%;" Type="email" @bind-Value="Student.Email"
                                Name="Email"/>
                                <RadzenDataAnnotationValidator Component="Email" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Số điện thoại" Component="PhoneNumber"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenTextBox Style="width: 100%;" Type="tel" @bind-Value="Student.PhoneNumber"
                                Name="PhoneNumber" />
                                <RadzenDataAnnotationValidator Component="PhoneNumber" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Tình trạng sinh viên" Component="StatusId"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="int?" Style="width: 100%;" @bind-Value="Student.StatusId"
                                Data="@StudentStatuses" TextProperty="Name" ValueProperty="Id" Name="StatusId" />
                                <RadzenDataAnnotationValidator Component="StatusId" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Quốc tịch" Component="StatusId" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
								<RadzenTextBox Style="width: 100%;" @bind-Value="Student.Nationality" Name="Nationality" />
                                <RadzenDataAnnotationValidator Component="StatusId" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Gap="1rem">
                <RadzenFieldset Text="Địa chỉ">
                    <RadzenTabs SelectedIndex="0">
                        <Tabs>
                            <RadzenTabsItem Text="Thường trú">
                                <AddressForm @bind-Value="PermanentAddress" OnAddressUpdated="HandleAddressUpdate" />
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Tạm trú">
                                <AddressForm @bind-Value="TemporaryAddress" OnAddressUpdated="HandleAddressUpdate" />
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Nhận thư">
                                <AddressForm @bind-Value="MailingAddress" OnAddressUpdated="HandleAddressUpdate" />
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenFieldset>
                <RadzenFieldset Text="Giấy chứng minh nhân thân">
                    <RadzenStack Gap="2rem">
                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Loại giấy tờ" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="string" Style="width: 100%;"
                                @bind-Value="IdentityInfo.Type"
                                Data=@(new List<KeyValuePair<string, string>>
                                                {
                                                new("cmnd", "Chứng minh nhân dân (CMND)"),
                                                new("cccd", "Căn cước công dân (CCCD)"),
                                                new("passport", "Hộ chiếu (Passport)")
                                                })
                                TextProperty="Value" ValueProperty="Key" Name="Type" />
                                <RadzenDataAnnotationValidator Component="Type" Popup="@popup" Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Số giấy tờ" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="IdentityInfo.Number" Name="Number" />
                                <RadzenDataAnnotationValidator Component="Number" Popup="@popup" Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Ngày cấp" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDatePicker Style="width: 100%;" @bind-Value="IdentityInfo.DateOfIssue"
                                DateFormat="dd/MM/yyyy" Name="DateOfIssue" />
                                <RadzenDataAnnotationValidator Component="DateOfIssue" Popup="@popup" Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Nơi cấp" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="IdentityInfo.PlaceOfIssue" Name="PlaceOfIssue" />
                                <RadzenDataAnnotationValidator Component="PlaceOfIssue" Popup="@popup" Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Ngày hết hạn" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDatePicker Style="width: 100%;" @bind-Value="IdentityInfo.ExpiryDate"
                                DateFormat="dd/MM/yyyy" Name="ExpiryDate" />
                                <RadzenDataAnnotationValidator Component="ExpiryDate" Popup="@popup" Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>
                        @if (IdentityInfo.Type == "cccd")
                        {
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Có gắn chip" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDropDown TValue="string" Style="width: 100%;"
                                                    @bind-Value="AdditionalInfoModel.HasChip"
                                                    Data=@(new List<KeyValuePair<string, string>>
                                                                {
                                                                new("yes", "Có"),
                                                                new("no", "Không")
                                                                })
                                                    TextProperty="Value" ValueProperty="Key" Name="HasChip"/>
                                    <RadzenDataAnnotationValidator Component="HasChip" Popup="@popup" Style="position: relative" />
                                </RadzenColumn>
                            </RadzenRow>
                        }
                        @if (IdentityInfo.Type == "passport")
                        {
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Quốc gia cấp" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox style="width: 100%" @bind-Value="AdditionalInfoModel.CountryOfIssue" Name="CountryOfIssue"/>
                                    <RadzenDataAnnotationValidator Component="CountryOfIssue" Popup="@popup" Style="position: relative" />
                                </RadzenColumn>
                            </RadzenRow>

                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Ghi chú" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox style="width: 100%" @bind-Value="AdditionalInfoModel.Note" Name="Note"/>
                                    <RadzenDataAnnotationValidator Component="Note" Popup="@popup" Style="position: relative" />
                                </RadzenColumn>
                            </RadzenRow>
                        }

                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>

    <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
        <RadzenButton ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large" Icon="save">@ButtonText</RadzenButton>
        <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Radzen.Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel" />
    </RadzenStack>
</RadzenTemplateForm>

