@using System.Text.Json
@using System.ComponentModel.DataAnnotations


<RadzenTemplateForm TItem="StudentModel" Data=@Student Submit="@(async () => ValidateAndSubmit())" InvalidSubmit=@OnInvalidSubmit>
    <div class="form-content">
    <RadzenRow Gap="1rem" class="rz-p-0 rz-p-lg-2">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack>
                <RadzenFieldset Text="Thông tin chung">
                    <RadzenStack Gap="2.5rem" class="rz-p-4 rz-p-lg-6">
                        @if (IsUpdateMode)
                        {
                            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="MSSV" Component="Id"/>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" @bind-Value="Student.Id" Disabled="true" Name="Id" />
                                    <div style=" min-height: 1rem;">
                                        <RadzenDataAnnotationValidator Component="Id" Popup=@popup />
                                    </div>
                                </RadzenColumn>
                            </RadzenRow>
                        }

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Họ và tên" Component="FullName" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8" >
                                <RadzenTextBox Style="width: 100%" Name="FullName" @bind-Value="Student.FullName" />
                                <RadzenDataAnnotationValidator Component="FullName" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Ngày sinh" Component="DateOfBirth" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDatePicker Style="width: 100%;" @bind-Value="Student.DateOfBirth"
                                DateFormat="dd/MM/yyyy" Name="DateOfBirth" />
                                <RadzenDataAnnotationValidator Component="DateOfBirth" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Giới tính" Component="Gender"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="string" Style="width: 100%;" @bind-Value="Student.Gender"
                                Data=@(new List<string> { "Nam", "Nữ", "Khác" }) Name="Gender"/>
                                <RadzenDataAnnotationValidator Component="Gender" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Khoa" Component="FacultyId"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="int?" Style="width: 100%;" @bind-Value="Student.FacultyId"
                                Data="@Faculties" TextProperty="Name" ValueProperty="Id" Name="FacultyId" />
                                <RadzenDataAnnotationValidator Component="FacultyId" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Khóa" Component="IntakeYear"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenNumeric TValue="int?" Style="width: 100%;" @bind-Value="Student.IntakeYear"
                                Name="IntakeYear" />
                                <RadzenDataAnnotationValidator Component="IntakeYear" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Chương trình" Component="ProgramId"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="int?" Style="width: 100%;" @bind-Value="Student.ProgramId"
                                Data="@StudyPrograms" TextProperty="Name" ValueProperty="Id" Name="ProgramId"/>
                                <RadzenDataAnnotationValidator Component="ProgramId" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>


                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Email" Component="Email"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" 
                                                   @bind-Value="Student.Email" 
                                                   Name="Email" 
                                                   Change="@(async args => await HandleEmailChange(args))" />
									<RadzenRequiredValidator Component="Email" Popup=@popup Style="position: relative" Text="Email không được để trống"/>
                                    @if (!string.IsNullOrEmpty(errorEmailMessage))
                                    {
                                        <div class="error">@errorEmailMessage</div>
                                    }
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Số điện thoại" Component="PhoneNumber"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" 
                                                   @bind-Value="Student.PhoneNumber" 
                                                   Name="PhoneNumber"
                                                   Change="@(async args => await HandlePhoneNumberChange(args))" />
                                    <RadzenRequiredValidator Component="PhoneNumber" Popup=@popup Style="position: relative" Text="Số điện thoại không được để trống" />
                                    @if (!string.IsNullOrEmpty(errorPhoneNumberMessage))
                                    {
                                        <div class="error">@errorPhoneNumberMessage</div>
                                    }
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Tình trạng sinh viên" Component="StatusId"/>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
                                <RadzenDropDown TValue="int?" Style="width: 100%;" @bind-Value="Student.StatusId"
                                Data="@StudentStatuses" TextProperty="Name" ValueProperty="Id" Name="StatusId" />
                                <RadzenDataAnnotationValidator Component="StatusId" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow AlignItems="Radzen.AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="4">
                                <RadzenLabel Text="Quốc tịch" Component="Nationality" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="8">
								<RadzenTextBox Style="width: 100%;" @bind-Value="Student.Nationality" Name="Nationality" />
                                <RadzenDataAnnotationValidator Component="Nationality" Popup=@popup Style="position: relative" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Gap="1rem">
                <RadzenFieldset Text="Địa chỉ">
                    <RadzenTabs SelectedIndex="0">
                        <Tabs>
                            <RadzenTabsItem Text="Thường trú">
                                <AddressForm @bind-Value="PermanentAddress" OnAddressUpdated="HandleAddressUpdate" />
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Tạm trú">
                                <AddressForm @bind-Value="TemporaryAddress" OnAddressUpdated="HandleAddressUpdate" />
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Nhận thư">
                                <AddressForm @bind-Value="MailingAddress" OnAddressUpdated="HandleAddressUpdate" />
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                    @if (ShowAddressError)
                    {
                        <div class="error">
                            Địa chỉ thường trú không được để trống
                        </div>
                    }
                </RadzenFieldset>
                <IdentityForm @bind-Value="IdentityInfo" OnIdentityInfoUpdated="HandleIdentityInfoUpdate" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    </div>
    <div class="fixed-bottom-buttons">
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
            <RadzenButton ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Large" Text="Hủy" Click="@Cancel" />
            <RadzenButton ButtonStyle="ButtonStyle.Success" ButtonType="Radzen.ButtonType.Submit" Size="ButtonSize.Large">@ButtonText</RadzenButton>
        </RadzenStack>
    </div>
</RadzenTemplateForm>

