@page "/"
@inject NavigationManager Navigation
@using System.Collections.Generic
@using MudBlazor
@using student_management_fe.Models


<div style="position: absolute; right: 0; margin-right: 1rem">
    <CultureSelector />
</div>
<MudText Typo="Typo.h4" Class="mb-4" Align="Align.Center" Color="Color.Primary" Style="font-weight: bold;">
    @_localizer["home_title_text"]
</MudText>

<MudPaper Class="search-bar" Elevation="3" Style="padding:16px; margin-bottom:20px;">
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudTextField @bind-Value="searchText"
						  Placeholder=@_localizer["home_search_student_by_name_id_placeholder"]
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          Immediate="true"
                          Variant="MudBlazor.Variant.Outlined"
                          OnKeyDown="HandleKeyPressSearch"
                          Class="w-100" />
        </MudItem>

        @if (showFilter)
        {
            <MudItem xs="12" sm="12">
                <MudSelect T="string"
                           Label=@_localizer["home_search_student_by_faculty_placeholder"]
                           @bind-SelectedValues="selectedFaculties"
                           MultiSelection="true"
                           Variant="MudBlazor.Variant.Outlined"
                           Clearable="true"
                           OnClearButtonClick="@(async () => await ResetPaging(keepSearch: true))"
                           ValueChanged="@(SearchStudents)">
                    @foreach (var faculty in faculties)
                    {
                        <MudSelectItem Value="@faculty.Name">@faculty.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        }

        <MudItem xs="12" sm="12" Class="d-flex justify-end">
            <MudButton Color="Color.Secondary" Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.FilterList" OnClick="ToggleFilter" Class="me-2">
				@_localizer["home_filter_button"]
            </MudButton>
            <MudButton Color="Color.Primary" Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Search" OnClick="SearchStudents" Class="me-2">
				@_localizer["home_search_button"]
            </MudButton>
            <MudMenu Label=@_localizer["home_add_new_menu"] Color="Color.Success" Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Class="me-2">

                <MudMenuItem OnClick="AddStudent">
					@_localizer["home_add_new_student_menu_item"]
                </MudMenuItem>
                <MudMenuItem OnClick="@(() => ImportFile(".xlsx"))">
					@_localizer["home_import_from_excel_menu_item"]
                </MudMenuItem>
                <MudMenuItem OnClick="@(() => ImportFile(".json"))">
					@_localizer["home_import_from_json_menu_item"]
                </MudMenuItem>
            </MudMenu>
          
            <MudMenu Label=@_localizer["home_export_file_menu"] Color="Color.Info" Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.FileDownload" Class="me-2">
                <MudMenuItem OnClick="@(() => ExportFile(".xlsx"))">
					@_localizer["home_export_to_excel_menu_item"]
                </MudMenuItem>
                <MudMenuItem OnClick="@(() => ExportFile(".json"))">
					@_localizer["home_export_to_json_menu_item"]
                </MudMenuItem>
            </MudMenu>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudPaper Class="table-container" Elevation="4">
    <MudTable RowClass="cursor-pointer" T="StudentHomePageModel" Items="students" Dense="true" Hover="true" Bordered="true" Striped="true">
        <HeaderContent>
            <MudTh Style="text-align: center; width: 3%">@_localizer["home_column_order_header"]</MudTh>
            <MudTh Style="text-align: center; width: 7%">@_localizer["home_column_student_id_header"]</MudTh>
            <MudTh Style="text-align: center; width: 16%">@_localizer["home_column_full_name_header"]</MudTh>
            <MudTh Style="text-align: center; width: 8%">@_localizer["home_column_date_of_birth_header"]</MudTh>
            <MudTh Style="text-align: center; width: 8%">@_localizer["home_column_gender_header"]</MudTh>
            <MudTh Style="text-align: center; width: 17%" >@_localizer["home_column_faculty_header"]</MudTh>
            <MudTh Style="text-align: center; width: 8%">@_localizer["home_column_intake_year_header"]</MudTh>
            <MudTh Style="text-align: center; width: 10%">@_localizer["home_column_study_program_header"]</MudTh>
            <MudTh Style="text-align: center; width: 11%">@_localizer["home_column_student_status_header"]</MudTh>
            <MudTh Style="text-align: center; width: 12%">@_localizer["home_column_actions_header"]</MudTh>
        </HeaderContent>
 

        <RowTemplate>
            <MudTd Style="text-align: center" DataLabel="STT">@((students.IndexOf(context) + 1) + (currentPage - 1) * pageSize)</MudTd>
            <MudTd DataLabel=@_localizer["home_column_student_id_header"] Style="text-align: center">@context.Id</MudTd>
            <MudTd DataLabel=@_localizer["home_column_full_name_header"]>@context.FullName</MudTd>
            <MudTd DataLabel=@_localizer["home_column_date_of_birth_header"] Style="text-align: center">@context.DateOfBirth?.ToString("dd/MM/yyyy")</MudTd>
            <MudTd DataLabel=@_localizer["home_column_gender_header"]>@context.Gender</MudTd>
            <MudTd DataLabel=@_localizer["home_column_faculty_header"]>@ConvertIdToFacultyName(context.FacultyId)</MudTd>
            <MudTd DataLabel=@_localizer["home_column_intake_year_header"] Style="text-align: center">@context.IntakeYear</MudTd>
            <MudTd DataLabel=@_localizer["home_column_study_program_header"]>@ConvertIdToStudyProgramName(context.ProgramId)</MudTd>
            <MudTd DataLabel=@_localizer["home_column_student_status_header"]>@ConvertIdToStudentStatusName(context.StatusId)</MudTd>
            <MudTd Style="text-align: center" DataLabel="Thao tác">
                <div class="action-buttons">
                    <MudTooltip Text=@_localizer["home_download_transcript_tooltip"] Color="Color.Info" Arrow="true" Placement="Placement.Top">
                        <MudIconButton Icon="@Icons.Material.Filled.FileDownload" Color="Color.Info" OnClick="()=>ExportTranscript(context.Id)" />
                    </MudTooltip>

                    <MudTooltip Text=@_localizer["home_edit_student_information_tooltip"] Color="Color.Info" Arrow="true" Placement="Placement.Top">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" OnClick="()=>EditStudent(context.Id)" />
                    </MudTooltip>

                    <MudTooltip Text=@_localizer["home_delete_student_tooltip"] Color="Color.Error" Arrow="true" Placement="Placement.Top">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="()=>DeleteStudent(context.Id)" />
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>

         <NoRecordsContent>
            <MudText>@_localizer["home_no_records_content"]</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>@_localizer["home_loading_content"]</MudText>
        </LoadingContent>
    </MudTable>
</MudPaper>

<MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mt-4 mb-4">
    <MudItem Style="padding: 12px 12px 12px 12px;">
        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Default" OnClick="PreviousPage" Disabled="@(currentPage <= 1)" StartIcon="@Icons.Material.Filled.ArrowBack" />
    </MudItem>

    <MudItem Style="padding: 12px 12px 12px 12px; text-align: center;">
        <MudText Typo="Typo.subtitle1" Class="mx-2" Style="white-space: nowrap; text-align: center">
            @_localizer["home_pagination_text"] @(totalPages > 0 ? currentPage : 0) / @totalPages
        </MudText>
    </MudItem>

    <MudItem Style="padding: 12px 12px 12px 12px;">
        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Default" OnClick="NextPage" Disabled="@(currentPage >= totalPages)" EndIcon="@Icons.Material.Filled.ArrowForward" />
    </MudItem>
</MudGrid>